body {
  background: #FDF3E9;
  margin: 0;
  padding: 1rem;
  color: #1E1E1E;
  font-family: 'Inter', sans-serif; 
}

hr {
  color: rgba(21, 38, 58, 1);
}

.title-wrapper {
display: flex;
justify-content: center;
padding-bottom: 10px;
flex-shrink: 0;
color: rgba(21, 38, 58, 1);

}

header {
  text-align: center;
  margin-bottom: 1rem;
  background: #91A6B6;
  padding-top: 10px; 
  padding-bottom: 2px;


}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;

}

#search::placeholder {
  color: rgba(21, 38, 58, 1);
  font-family: 'Inter', sans-serif; 
  
  
}




input, select {
  padding: 0.5rem;
  background: rgba(217, 217, 217, 0.63);
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif; 
  color: rgba(21, 38, 58, 1);
  
}







.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  background-image: url(../assets/f881c1f0b9c3b57c67d2ccf80fea9248.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

#favorites-section {
  margin-top: 3rem;
}


#favorites-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}



.meal-card {
  background: rgba(21, 38, 58, 1);
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.meal-card img {
  width: 100%;
  border-radius: 8px;
}

.fav-btn {
  background: none;
  border: 1px solid #999;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.fav-btn:hover {
  background-color: white;
  color:rgba(21, 38, 58, 1);
}


  